.cta-button {
  font-family: var(--font-body);
  font-size: 18px;
  padding: 14px 28px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;

  background-color: var(--hover-colour); 
  color: var(--text-primary);              
  border: none;

  transition: all 0.2s ease-in-out;
}

.cta-button:hover {
  background-color: var(--accent-button);  
  color: var(--text-primary);             
  transform: scale(1.03);
}

/* Mini version of the CTA button */
.mini-button {
  font-family: var(--font-body);
  font-size: 0.85rem;
  padding: 6px 14px;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;

  background-color: var(--hover-colour); 
  color: var(--text-primary);            
  border: none;

  transition: all 0.2s ease-in-out;
}

.mini-button:hover {
  background-color: var(--accent-button); 
  color: var(--text-primary);
  transform: scale(1.05);
}
