.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm) var(--space-lg);
}

/* Logo / Brand */
.header-left .logo {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text-secondary);
  text-decoration: none;
  font-family: var(--font-heading);
  transition: color 0.2s ease-in-out;
}

.logo:hover {
  color: var(--accent-button);
}

/* Dark mode toggle button */
.dark-toggle {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text-secondary);
  transition: color 0.2s ease-in-out;
}

.dark-toggle:hover {
  color: var(--accent-button);
}
.navbar-box {
  display: flex;
  gap: var(--space-md);
  background-color: var(--background-colour);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
}

.navbar-box a {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-secondary);
  transition: color 0.2s ease-in-out;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-secondary);
  padding: 0.5rem 1rem;
  /* border-radius: 8px; */
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* On hover */
.nav-link:hover {
  color: var(--accent-button); /* Gold on hover */
  background-color: transparent; /* Ensure no background */
}

.nav-link.active {
  color: var(--accent-button);
  font-weight: 600;
  background-color: transparent;
}