@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import './styles/theme.css';
@import './styles/buttons.css';

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-colour);
  color: var(--text-primary);
}
