@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import './styles/theme1.css';
@import './styles/buttons1.css';
@import './styles/buttons1.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-colour);
  color: var(--text-primary);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--space-lg);
}

